
export AZURE_SUBSCRIPTION_ID=abc123
export AZURE_RESOURCE_GROUP_NAME=my-resource-group
export AZURE_CLIENT_ID=abc123
export AZURE_APPLICATION_OBJECT_ID=abc123
export AZURE_TENANT_ID=abc123
export AZURE_ASSIGNEE_OBJECT_ID=abc123
export AZURE_ROLE_ASSIGNMENT_OBJECT_ID=abc123

az account set --subscription ${AZURE_SUBSCRIPTION_ID}
